<div>
    <form (change)="dataForm($event)">
        <input class="image" type="file" name="image">
        <input class="name" placeholder="product name" type="text" name="name">
        <input class="color" placeholder="brand" type="text" name="brand">
        <input class="color" placeholder="color" type="text" name="color">
        <input class="size" placeholder="size" type="text" name="size">
        <input class="price" placeholder="price" type="text" name="price">
        <button type="submit" (click)="onSubmit()">Send</button>   
    </form>
</div>
 