<div class="header">
    <img src="../../assets//thrasher.jpg" alt="">
    <div class="login">
        <a href=""><h1>Skate Store</h1></a>
        <i class="fas fa-user"></i>
    </div>
</div>

<div class="navbar">
    <ul>
        <li>Shoes</li>
        <li>Tshirts</li>
        <li>Shorts</li>
        <li>Pants</li>
        <li>Hats</li>
        <li>Watchs</li>
    </ul>
</div>

<div class="main">
    <div *ngFor="let p of products" class="box">
        <img src={{p.image_url}} alt="">
        <strong>Product {{p.name}}</strong>
        <p class="brand">{{p.brand}}</p>
        <p class="color">{{p.color}}</p>
        <p class="size">Size {{p.size}}</p>
        <p class="price">R$ {{p.price}}</p>
        <div class="button">
            <button>Buy now</button>
        </div>
    </div>    
</div>


