<div class="header">
    <div class="login" ngFor="let admin of products">
    </div>
</div>
<div class="main">
    <div *ngFor="let p of products" class="box">
        <img src={{p.image_url}} alt="">
        <div>
            <button type="button" class="edit"  routerLink="/edit" routerLinkActive="active">edit</button>
            <button class="delete">delete</button>
        </div>
        <strong>Product {{p.name}}</strong>
        <p class="brand">{{p.brand}}</p>
        <p class="color">{{p.color}}</p>
        <p class="size">Size {{p.size}}</p>
        <p class="price">R$ {{p.price}}</p>
        <div class="button">
            <button class="button-buy">Buy now</button>
        </div>
    </div>    
</div>


