.main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;       

    .box {
        background: #fff;
        padding: 10px 10px;
        margin: 5px;
        border-radius: 3px;
        width: 300px;
        text-align: center;

        img {
            max-width: 300px;
            margin-bottom: 15px;
        }

        strong {
            color: rgba(0, 0, 0, 0.822);
        }

        p {
            margin: 0;
            font-weight: 600px;
            margin-top: 5px;
        }     

        p.brand {
            font-size: 15px;
            letter-spacing: 1px;
            color: #444;            
        }
        p.color {
            font-size: 15px;
            color: #444;    
        }
        p.size {
            font-size: 15px;
            color: #444;    
        }
        p.price {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.822);
        }
        
        .button {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 5px;
            cursor: pointer;
        }
       
        .button-buy {
            background: #CE3817;
            height: 30px;
            width: 250px;
            border: none;
            border-radius: 3px;
            box-shadow: 0px 1px 4px 1px #6d5050;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin: 5px 0 10px 0;
            cursor: pointer;
        }

        .edit {
            // width: 70px; 
            cursor: pointer;  
            border: none;
            background: #fff;    
        }

        .delete {
            border: none;
            background: #fff;    
            margin: 0 0 5px 5px;
            cursor: pointer;  
        }
    }
}